name: Get Citation Data

on: 
  page_build: 
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/scholar_info.yml'
      - 'google_scholar_crawler/**'
  schedule:
    - cron:  '0 8 * * *'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v3
      - name: Install Reqs
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-setuptools
      - name: Run
        env:
          GOOGLE_SCHOLAR_ID: ${{ secrets.GOOGLE_SCHOLAR_ID }}
        run: |
          cd ./google_scholar_crawler
          pip3 install -r requirements.txt
          python3 main.py
          cd ./results
          git init
          git config --local user.name "${GITHUB_ACTOR}"
          git config --local user.email "actions@github.com"
          git remote add origin "https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git"
          git add *.json
          git commit -m "Updated Citation Data" || echo "No changes to commit"
          git push origin HEAD:google-scholar-stats --force